In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/Latest Netflix data with 26+ joined attributes/netflix-rotten-tomatoes-metacritic-imdb.csv'
netflix_metacritic = pd.read_csv(file_to_load)

In [6]:
netflix_metacritic.head()

,Title,Genre,Tags,Languages,Series or Movie,Hidden Gem Score,Country Availability,Runtime,Director,Writer,...,Netflix Release Date,Production House,Netflix Link,IMDb Link,Summary,IMDb Votes,Image,Poster,TMDb Trailer,Trailer Site
0,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Comedy Programmes,Romantic TV Comedies,Horror ...","Swedish, Spanish",Series,4.3,Thailand,< 30 minutes,Tomas Alfredson,John Ajvide Lindqvist,...,2021-03-04,"Canal+, Sandrew Metronome",https://www.netflix.com/watch/81415947,https://www.imdb.com/title/tt1139797,A med student with a supernatural gift tries t...,205926.0,https://occ-0-4708-64.1.nflxso.net/dnm/api/v6/...,https://m.media-amazon.com/images/M/MV5BOWM4NT...,NaN,NaN
1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,7.0,Canada,1-2 hour,Coky Giedroyc,Caitlin Moran,...,2021-03-04,"Film 4, Monumental Pictures, Lionsgate",https://www.netflix.com/watch/81041267,https://www.imdb.com/title/tt4193072,"When nerdy Johanna moves to London, things get...",2838.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BZGUyN2...,https://www.youtube.com/watch?v=eIbcxPy4okQ,YouTube
2,Centigrade,"Drama, Thriller",Thrillers,English,Movie,6.4,Canada,1-2 hour,Brendan Walsh,"Brendan Walsh, Daley Nixon",...,2021-03-04,NaN,https://www.netflix.com/watch/81305978,https://www.imdb.com/title/tt8945942,"Trapped in a frozen car during a blizzard, a p...",1720.0,https://occ-0-1081-999.1.nflxso.net/dnm/api/v6...,https://m.media-amazon.com/images/M/MV5BODM2MD...,https://www.youtube.com/watch?v=0RvV7TNUlkQ,YouTube
3,ANNE+,Drama,"TV Dramas,Romantic TV Dramas,Dutch TV Shows",Turkish,Series,7.7,"Belgium,Netherlands",< 30 minutes,NaN,NaN,...,2021-03-04,NaN,https://www.netflix.com/watch/81336456,https://www.imdb.com/title/tt6132758,"Upon moving into a new place, a 20-something r...",1147.0,https://occ-0-1489-1490.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BNWRkMz...,NaN,NaN
4,Moxie,"Animation, Short, Drama","Social Issue Dramas,Teen Movies,Dramas,Comedie...",English,Movie,8.1,"Lithuania,Poland,France,Iceland,Italy,Spain,Gr...",1-2 hour,Stephen Irwin,NaN,...,2021-03-04,NaN,https://www.netflix.com/watch/81078393,https://www.imdb.com/title/tt2023611,Inspired by her moms rebellious past and a con...,63.0,https://occ-0-4039-1500.1.nflxso.net/dnm/api/v...,https://m.media-amazon.com/images/M/MV5BODYyNW...,NaN,NaN

In [9]:
# File to Load 
file_to_load_two = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/Netflix Subscribers and Revenue by Country/DataNetflixRevenue2020_V2.csv'
netflix_subscribers_country= pd.read_csv(file_to_load_two)

In [11]:
netflix_subscribers_country

                               Area      Years     Revenue
0          United States and Canada  Q1 - 2018  1976157000
1   Europe,  Middle East and Africa  Q1 - 2018   886649000
2                     Latin America  Q1 - 2018   540182000
3                      Asia-Pacific  Q1 - 2018   199117000
4          United States and Canada  Q2 - 2018  2049546000
5   Europe,  Middle East and Africa  Q2 - 2018   975497000
6                     Latin America  Q2 - 2018   568071000
7                      Asia-Pacific  Q2 - 2018   221252000
8          United States and Canada  Q3 - 2018  2094850000
9   Europe,  Middle East and Africa  Q3 - 2018  1004749000
10                    Latin America  Q3 - 2018   562307000
11                     Asia-Pacific  Q3 - 2018   248691000
12         United States and Canada  Q4 - 2018  2160979000
13  Europe,  Middle East and Africa  Q4 - 2018  1096812000
14                    Latin America  Q4 - 2018   567137000
15                     Asia-Pacific  Q4 - 2018   276756000
16         United States and Canada  Q1 - 2019  2256851000
17  Europe,  Middle East and Africa  Q1 - 2019  1233379000
18                    Latin America  Q1 - 2019   630472000
19                     Asia-Pacific  Q1 - 2019   319602000
20         United States and Canada  Q2 - 2019  2501199000
21  Europe,  Middle East and Africa  Q2 - 2019  1319087000
22                    Latin America  Q2 - 2019   677136000
23                     Asia-Pacific  Q2 - 2019   349494000
24         United States and Canada  Q3 - 2019  2621250000
25  Europe,  Middle East and Africa  Q3 - 2019  1428040000
26                    Latin America  Q3 - 2019   741434000
27                     Asia-Pacific  Q3 - 2019   382304000
28         United States and Canada  Q4 - 2019  2671908000
29  Europe,  Middle East and Africa  Q4 - 2019  1562561000
30                    Latin America  Q4 - 2019   746392000
31                     Asia-Pacific  Q4 - 2019   418121000
32         United States and Canada  Q1 - 2020  2702776000
33  Europe,  Middle East and Africa  Q1 - 2020  1723474000
34                    Latin America  Q1 - 2020   793453000
35                     Asia-Pacific  Q1 - 2020   483660000
36         United States and Canada  Q2 - 2020  2839670000
37  Europe,  Middle East and Africa  Q2 - 2020  1892537000
38                    Latin America  Q2 - 2020   785368000
39                     Asia-Pacific  Q2 - 2020   569140000

In [14]:
# File to Load 
file_to_load_three = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/Netflix Subscribers and Revenue by Country/DataNetflixSubscriber2020_V2.csv'
netflix_subscribers_revenue = pd.read_csv(file_to_load_three)

In [16]:
netflix_subscribers_revenue

                               Area      Years  Subscribers
0          United States and Canada  Q1 - 2018     60909000
1   Europe,  Middle East and Africa  Q1 - 2018     29339000
2                     Latin America  Q1 - 2018     21260000
3                      Asia-Pacific  Q1 - 2018      7394000
4          United States and Canada  Q2 - 2018     61870000
5   Europe,  Middle East and Africa  Q2 - 2018     31317000
6                     Latin America  Q2 - 2018     22795000
7                      Asia-Pacific  Q2 - 2018      8372000
8          United States and Canada  Q3 - 2018     63010000
9   Europe,  Middle East and Africa  Q3 - 2018     33836000
10                    Latin America  Q3 - 2018     24115000
11                     Asia-Pacific  Q3 - 2018      9461000
12         United States and Canada  Q4 - 2018     64757000
13  Europe,  Middle East and Africa  Q4 - 2018     37818000
14                    Latin America  Q4 - 2018     26077000
15                     Asia-Pacific  Q4 - 2018     10607000
16         United States and Canada  Q1 - 2019     66633000
17  Europe,  Middle East and Africa  Q1 - 2019     42542000
18                    Latin America  Q1 - 2019     27547000
19                     Asia-Pacific  Q1 - 2019     12141000
20         United States and Canada  Q2 - 2019     66501000
21  Europe,  Middle East and Africa  Q2 - 2019     44229000
22                    Latin America  Q2 - 2019     27890000
23                     Asia-Pacific  Q2 - 2019     12942000
24         United States and Canada  Q3 - 2019     67114000
25  Europe,  Middle East and Africa  Q3 - 2019     47355000
26                    Latin America  Q3 - 2019     29380000
27                     Asia-Pacific  Q3 - 2019     14485000
28         United States and Canada  Q4 - 2019     67662000
29  Europe,  Middle East and Africa  Q4 - 2019     51778000
30                    Latin America  Q4 - 2019     31417000
31                     Asia-Pacific  Q4 - 2019     16233000
32         United States and Canada  Q1 - 2020     69969000
33  Europe,  Middle East and Africa  Q1 - 2020     58734000
34                    Latin America  Q1 - 2020     34318000
35                     Asia-Pacific  Q1 - 2020     19835000
36         United States and Canada  Q2 - 2020     72904000
37  Europe,  Middle East and Africa  Q2 - 2020     61483000
38                    Latin America  Q2 - 2020     36068000
39                     Asia-Pacific  Q2 - 2020     22492000

In [18]:
# File to Load 
file_to_load_four = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/Netflix Subscribers and Revenue by Country/NetflixsRevenue2018toQ2_2020.csv'
Netflix_revenue_country = pd.read_csv(file_to_load_four)

In [19]:
Netflix_revenue_country

,Area,Q1 - 2018,Q2 - 2018,Q3 - 2018,Q4 - 2018,Q1 - 2019,Q2 - 2019,Q3 - 2019,Q4 - 2019,Q1 - 2020,Q2 - 2020
0,United States and Canada,1976157000,2049546000,2094850000,2160979000,2256851000,2501199000,2621250000,2671908000,2702776000,2839670000
1,"Europe, Middle East, and Africa",886649000,975497000,1004749000,1096812000,1233379000,1319087000,1428040000,1562561000,1723474000,1892537000
2,Latin America,540182000,568071000,562307000,567137000,630472000,677136000,741434000,746392000,793453000,785368000
3,Asia-Pacific,199117000,221252000,248691000,276756000,319602000,349494000,382304000,418121000,483660000,569140000

In [20]:
# File to Load 
file_to_load_five = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/Netflix Subscribers and Revenue by Country/NetflixSubscribersbyCountryfrom2018toQ2_2020.csv'
netflix_subscribers_country_v = pd.read_csv(file_to_load_five)

In [21]:
netflix_subscribers_country_v

,Area,Q1 - 2018,Q2 - 2018,Q3 - 2018,Q4 - 2018,Q1 - 2019,Q2 - 2019,Q3 - 2019,Q4 - 2019,Q1 - 2020,Q2 - 2020
0,United States and Canada,60909000,61870000,63010000,64757000,66633000,66501000,67114000,67662000,69969000,72904000
1,"Europe, Middle East, and Africa",29339000,31317000,33836000,37818000,42542000,44229000,47355000,51778000,58734000,61483000
2,Latin America,21260000,22795000,24115000,26077000,27547000,27890000,29380000,31417000,34318000,36068000
3,Asia-Pacific,7394000,8372000,9461000,10607000,12141000,12942000,14485000,16233000,19835000,22492000

In [22]:
# File to Load 
file_to_load_h = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/World Happiness Report/world-happiness-report-2021.csv'
world_happiness_report= pd.read_csv(file_to_load_h)

In [23]:
world_happiness_report

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [25]:
# File to Load 
file_to_load_r = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/World Happiness Report/world-happiness-report.csv'
world_happiness_report_t= pd.read_csv(file_to_load_r)

In [26]:
world_happiness_report_t

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346