In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# File to Load 
file_to_load = 'Data Sets/Latest Netflix data with 26+ joined attributes/netflix-rotten-tomatoes-metacritic-imdb.csv'
netflix_metacritic = pd.read_csv(file_to_load)

In [2]:
netflix_metacritic.head()
netflix_metacritic_subset = netflix_metacritic[['Title','Genre','Languages','Country Availability','Director', 'Series or Movie']]
netflix_metacritic_subset.columns = ['Title','Genre','Languages','Country','Director','Series or Movie']

netflix_country_split = netflix_metacritic_subset.Country.str.split(',')
series = netflix_country_split.apply(pd.Series, 1)
stacked = series.stack()
drop = stacked.index = stacked.index.droplevel(-1)
df = pd.DataFrame(stacked)
df = df.join(netflix_metacritic_subset)
del df['Country']
df.columns = ['Country','Title','Genre','Languages','Director','Media Type']
df = df.reset_index(drop=True)
df.to_csv('Data Sets/G3_Netflix_by_Country.csv', index = False)
df

,Country,Title,Genre,Languages,Director,Media Type
0,Thailand,Lets Fight Ghost,"Crime, Drama, Fantasy, Horror, Romance","Swedish, Spanish",Tomas Alfredson,Series
1,Canada,HOW TO BUILD A GIRL,Comedy,English,Coky Giedroyc,Movie
2,Canada,Centigrade,"Drama, Thriller",English,Brendan Walsh,Movie
3,Belgium,ANNE+,Drama,Turkish,NaN,Series
4,Netherlands,ANNE+,Drama,Turkish,NaN,Series
...,...,...,...,...,...,...
195580,Brazil,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,NaN,Series
195581,Netherlands,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,NaN,Series
195582,Italy,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,NaN,Series
195583,Israel,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,NaN,Series
195584,Colombia,DreamWorks Kung Fu Panda Awesome Secrets,"Animation, Action, Comedy, Family",English,NaN,Series

In [3]:
titles_bycountry = df.groupby('Country')['Title'].count()
media_bycountry = df.groupby(['Country','Media Type'])['Title'].count()
media_bycountry = pd.DataFrame(media_bycountry)
media_bycountry = media_bycountry.reset_index()
media_bycountry

           Country Media Type  Title
0        Argentina      Movie   3374
1        Argentina     Series   1764
2        Australia      Movie   3743
3        Australia     Series   2077
4          Belgium      Movie   3596
..             ...        ...    ...
67          Turkey     Series   1746
68  United Kingdom      Movie   4126
69  United Kingdom     Series   2185
70   United States      Movie   3653
71   United States     Series   2065

[72 rows x 3 columns]

In [4]:
# happynetflix_merge = pd.merge(media_bycountry, world_happiness_report_sub, on='Country',how='inner')
# happynetflix_merge.columns = ['Country','Media Type','Media Count','Region','Happiness Score']
# happynetflix_merge = happynetflix_merge[['Region','Country','Happiness Score','Media Type','Media Count']]
# happynetflix_merge

In [5]:
# region_avg_media_count = happynetflix_merge[['Region','Media Count']]
# region_avg_media_count = round(region_avg_media_count.groupby('Region')['Media Count'].mean(),1)
# region_avg_media_count = region_avg_media_count.sort_values(0,ascending=False)
# region_avg_media_count.plot(kind='bar')

# plt.ylabel('Avg. # of Media on Netflix')
# plt.ylim(2400,3000)

In [6]:
# File to Load 
file_to_load_two = 'Data Sets/Netflix Subscribers and Revenue by Country/DataNetflixRevenue2020_V2.csv'
netflix_subscribers_country= pd.read_csv(file_to_load_two)

In [7]:
netflix_subscribers_country.head()
netflix_rev_region = netflix_subscribers_country.groupby(['Area','Years']).sum('Subscribers')
netflix_rev_region

                                              Revenue
Area                            Years
Asia-Pacific                    Q1 - 2018   199117000
                                Q1 - 2019   319602000
                                Q1 - 2020   483660000
                                Q2 - 2018   221252000
                                Q2 - 2019   349494000
                                Q2 - 2020   569140000
                                Q3 - 2018   248691000
                                Q3 - 2019   382304000
                                Q4 - 2018   276756000
                                Q4 - 2019   418121000
Europe,  Middle East and Africa Q1 - 2018   886649000
                                Q1 - 2019  1233379000
                                Q1 - 2020  1723474000
                                Q2 - 2018   975497000
                                Q2 - 2019  1319087000
                                Q2 - 2020  1892537000
                                Q3 - 2018  1004749000
                                Q3 - 2019  1428040000
                                Q4 - 2018  1096812000
                                Q4 - 2019  1562561000
Latin America                   Q1 - 2018   540182000
                                Q1 - 2019   630472000
                                Q1 - 2020   793453000
                                Q2 - 2018   568071000
                                Q2 - 2019   677136000
                                Q2 - 2020   785368000
                                Q3 - 2018   562307000
                                Q3 - 2019   741434000
                                Q4 - 2018   567137000
                                Q4 - 2019   746392000
United States and Canada        Q1 - 2018  1976157000
                                Q1 - 2019  2256851000
                                Q1 - 2020  2702776000
                                Q2 - 2018  2049546000
                                Q2 - 2019  2501199000
                                Q2 - 2020  2839670000
                                Q3 - 2018  2094850000
                                Q3 - 2019  2621250000
                                Q4 - 2018  2160979000
                                Q4 - 2019  2671908000

In [8]:
# File to Load 
file_to_load_three = 'Data Sets/Netflix Subscribers and Revenue by Country/DataNetflixSubscriber2020_V2.csv'
netflix_subscribers_revenue = pd.read_csv(file_to_load_three)

In [9]:
netflix_subscribers_revenue.head()
netflix_subs_region = netflix_subscribers_revenue.groupby(['Area','Years']).sum('Subscribers')
netflix_subs_region

                                           Subscribers
Area                            Years
Asia-Pacific                    Q1 - 2018      7394000
                                Q1 - 2019     12141000
                                Q1 - 2020     19835000
                                Q2 - 2018      8372000
                                Q2 - 2019     12942000
                                Q2 - 2020     22492000
                                Q3 - 2018      9461000
                                Q3 - 2019     14485000
                                Q4 - 2018     10607000
                                Q4 - 2019     16233000
Europe,  Middle East and Africa Q1 - 2018     29339000
                                Q1 - 2019     42542000
                                Q1 - 2020     58734000
                                Q2 - 2018     31317000
                                Q2 - 2019     44229000
                                Q2 - 2020     61483000
                                Q3 - 2018     33836000
                                Q3 - 2019     47355000
                                Q4 - 2018     37818000
                                Q4 - 2019     51778000
Latin America                   Q1 - 2018     21260000
                                Q1 - 2019     27547000
                                Q1 - 2020     34318000
                                Q2 - 2018     22795000
                                Q2 - 2019     27890000
                                Q2 - 2020     36068000
                                Q3 - 2018     24115000
                                Q3 - 2019     29380000
                                Q4 - 2018     26077000
                                Q4 - 2019     31417000
United States and Canada        Q1 - 2018     60909000
                                Q1 - 2019     66633000
                                Q1 - 2020     69969000
                                Q2 - 2018     61870000
                                Q2 - 2019     66501000
                                Q2 - 2020     72904000
                                Q3 - 2018     63010000
                                Q3 - 2019     67114000
                                Q4 - 2018     64757000
                                Q4 - 2019     67662000

In [10]:
clean_df = [0]*40
merge_data = pd.merge(netflix_subscribers_country,netflix_subscribers_revenue, on=['Years', 'Area'])
merge_data['Edit'] = clean_df
merge_data.head()

                              Area      Years     Revenue  Subscribers  Edit
0         United States and Canada  Q1 - 2018  1976157000     60909000     0
1  Europe,  Middle East and Africa  Q1 - 2018   886649000     29339000     0
2                    Latin America  Q1 - 2018   540182000     21260000     0
3                     Asia-Pacific  Q1 - 2018   199117000      7394000     0
4         United States and Canada  Q2 - 2018  2049546000     61870000     0

In [51]:
netflix_rev_subs_region_goupby = merge_data.groupby(['Area','Years']).sum('Edit')
netflix_rev_subs_region_goupby.drop(['Edit'], axis = 1, inplace = True)
netflix_rev_subs_region_goupby

                                              Revenue  Subscribers
Area                            Years
Asia-Pacific                    Q1 - 2018   199117000      7394000
                                Q1 - 2019   319602000     12141000
                                Q1 - 2020   483660000     19835000
                                Q2 - 2018   221252000      8372000
                                Q2 - 2019   349494000     12942000
                                Q2 - 2020   569140000     22492000
                                Q3 - 2018   248691000      9461000
                                Q3 - 2019   382304000     14485000
                                Q4 - 2018   276756000     10607000
                                Q4 - 2019   418121000     16233000
Europe,  Middle East and Africa Q1 - 2018   886649000     29339000
                                Q1 - 2019  1233379000     42542000
                                Q1 - 2020  1723474000     58734000
                                Q2 - 2018   975497000     31317000
                                Q2 - 2019  1319087000     44229000
                                Q2 - 2020  1892537000     61483000
                                Q3 - 2018  1004749000     33836000
                                Q3 - 2019  1428040000     47355000
                                Q4 - 2018  1096812000     37818000
                                Q4 - 2019  1562561000     51778000
Latin America                   Q1 - 2018   540182000     21260000
                                Q1 - 2019   630472000     27547000
                                Q1 - 2020   793453000     34318000
                                Q2 - 2018   568071000     22795000
                                Q2 - 2019   677136000     27890000
                                Q2 - 2020   785368000     36068000
                                Q3 - 2018   562307000     24115000
                                Q3 - 2019   741434000     29380000
                                Q4 - 2018   567137000     26077000
                                Q4 - 2019   746392000     31417000
United States and Canada        Q1 - 2018  1976157000     60909000
                                Q1 - 2019  2256851000     66633000
                                Q1 - 2020  2702776000     69969000
                                Q2 - 2018  2049546000     61870000
                                Q2 - 2019  2501199000     66501000
                                Q2 - 2020  2839670000     72904000
                                Q3 - 2018  2094850000     63010000
                                Q3 - 2019  2621250000     67114000
                                Q4 - 2018  2160979000     64757000
                                Q4 - 2019  2671908000     67662000

In [12]:
# File to Load 
file_to_load_four = 'Data Sets/Netflix Subscribers and Revenue by Country/NetflixsRevenue2018toQ2_2020.csv'
Netflix_revenue_country = pd.read_csv(file_to_load_four)

In [13]:
Netflix_revenue_country

,Area,Q1 - 2018,Q2 - 2018,Q3 - 2018,Q4 - 2018,Q1 - 2019,Q2 - 2019,Q3 - 2019,Q4 - 2019,Q1 - 2020,Q2 - 2020
0,United States and Canada,1976157000,2049546000,2094850000,2160979000,2256851000,2501199000,2621250000,2671908000,2702776000,2839670000
1,"Europe, Middle East, and Africa",886649000,975497000,1004749000,1096812000,1233379000,1319087000,1428040000,1562561000,1723474000,1892537000
2,Latin America,540182000,568071000,562307000,567137000,630472000,677136000,741434000,746392000,793453000,785368000
3,Asia-Pacific,199117000,221252000,248691000,276756000,319602000,349494000,382304000,418121000,483660000,569140000

In [14]:
# File to Load 
file_to_load_five = 'Data Sets/Netflix Subscribers and Revenue by Country/NetflixSubscribersbyCountryfrom2018toQ2_2020.csv'
netflix_subscribers_country_v = pd.read_csv(file_to_load_five)

In [15]:
netflix_subscribers_country_v.head()

,Area,Q1 - 2018,Q2 - 2018,Q3 - 2018,Q4 - 2018,Q1 - 2019,Q2 - 2019,Q3 - 2019,Q4 - 2019,Q1 - 2020,Q2 - 2020
0,United States and Canada,60909000,61870000,63010000,64757000,66633000,66501000,67114000,67662000,69969000,72904000
1,"Europe, Middle East, and Africa",29339000,31317000,33836000,37818000,42542000,44229000,47355000,51778000,58734000,61483000
2,Latin America,21260000,22795000,24115000,26077000,27547000,27890000,29380000,31417000,34318000,36068000
3,Asia-Pacific,7394000,8372000,9461000,10607000,12141000,12942000,14485000,16233000,19835000,22492000

In [16]:
# File to Load 
file_to_load_h = 'Data Sets/World Happiness Report/world-happiness-report-2021.csv'
world_happiness_report = pd.read_csv(file_to_load_h)

In [17]:
world_happiness_report.head()
world_happiness_report_sub = world_happiness_report[['Country name','Regional indicator','Ladder score']]
world_happiness_report_sub.columns = ['Country','Region','Ladder Score']
world_happiness_report_sub

         Country              Region  Ladder Score
0        Finland      Western Europe         7.842
1        Denmark      Western Europe         7.620
2    Switzerland      Western Europe         7.571
3        Iceland      Western Europe         7.554
4    Netherlands      Western Europe         7.464
..           ...                 ...           ...
144      Lesotho  Sub-Saharan Africa         3.512
145     Botswana  Sub-Saharan Africa         3.467
146       Rwanda  Sub-Saharan Africa         3.415
147     Zimbabwe  Sub-Saharan Africa         3.145
148  Afghanistan          South Asia         2.523

[149 rows x 3 columns]

In [18]:
# File to Load 
file_to_load_h = '/Users/karlaflores/Desktop/Git/Media_HappinessIndex/Data Sets/World Information/continents2.csv'
country_df = pd.read_csv(file_to_load_h)

In [19]:
# Merging World Happiness Report and Country Regions by column
world_happiness_report_sub = pd.merge(left = world_happiness_report_sub, right = country_df, how = 'left', left_on= 'Country', right_on = 'name')

In [20]:
# Dropping Columns in merged DataFrame
world_happiness_report_sub.drop(['alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region-code', 'sub-region-code', 'intermediate-region-code','name'], axis = 1, inplace = True)

In [21]:
# Adding the column 'Area'
world_happiness_report_sub['Area']= ''
# Measudint the length of World Happiness Report
len(world_happiness_report_sub)

149

In [22]:
world_happiness_report_sub

,Country,Region,Ladder Score,region,sub-region,intermediate-region,Area
0,Finland,Western Europe,7.842,Europe,Northern Europe,NaN,
1,Denmark,Western Europe,7.620,Europe,Northern Europe,NaN,
2,Switzerland,Western Europe,7.571,Europe,Western Europe,NaN,
3,Iceland,Western Europe,7.554,Europe,Northern Europe,NaN,
4,Netherlands,Western Europe,7.464,Europe,Western Europe,NaN,
...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,Africa,Sub-Saharan Africa,Southern Africa,
145,Botswana,Sub-Saharan Africa,3.467,Africa,Sub-Saharan Africa,Southern Africa,
146,Rwanda,Sub-Saharan Africa,3.415,Africa,Sub-Saharan Africa,Eastern Africa,
147,Zimbabwe,Sub-Saharan Africa,3.145,Africa,Sub-Saharan Africa,Eastern Africa,
148,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,

In [23]:
# Conditional for 'Area' using the Regions by ISO 3166-2
area = []
for c in world_happiness_report_sub['Region']:
    if c == 'Western Europe':
        area.append('Europe, Middle East and Africa')
    elif c == 'Central and Eastern Europe':
            area.append('Europe, Middle East and Africa')    
    elif c == 'Middle East and North Africa':
            area.append('Europe, Middle East and Africa')
    elif c == 'Sub-Saharan Africa':
            area.append('Europe, Middle East and Africa')
    elif c == 'East Asia':
            area.append('Asia-Pacific')    
    elif c == 'Southeast Asia':
            area.append('Asia-Pacific')
    elif c == 'South Asia':
            area.append('Asia-Pacific')
    elif c == 'Latin America and Caribbean':
            area.append('Latin America')
    else:
        area.append('NaN')

In [24]:
len(area)

149

In [25]:
# Adding area list to the 'Area column'
world_happiness_report_sub['Area'] = area

In [26]:
# Filling Nan
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'New Zealand', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Australia', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'United States', 'Area'] = 'United States and Canada'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Canada', 'Area'] = 'United States and Canada'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Uzbekistan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Kazakhstan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Moldova', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Kyrgyzstan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Belarus', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Russia', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Tajikistan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Azerbaijan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Armenia', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Turkmenistan', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Georgia', 'Area'] = 'Asia-Pacific'
world_happiness_report_sub.loc[world_happiness_report_sub['Country'] == 'Ukraine', 'Area'] = 'Europe, Middle East and Africa'

In [27]:
world_happiness_report_sub_groupby = world_happiness_report_sub.groupby('Area').mean('Ladder score')
world_happiness_report_sub_groupby

                                Ladder Score
Area
Asia-Pacific                        5.407344
Europe, Middle East and Africa      5.464663
Latin America                       5.908050
United States and Canada            7.027000

In [28]:
# world_happiness_report_sub.drop(['country-code', 'region-code', 'sub-region-code', 'intermediate-region-code'], axis = 1, inplace = True)

In [29]:
# File to Load 
file_to_load_r = 'Data Sets/World Happiness Report/world-happiness-report.csv'
world_happiness_report_t= pd.read_csv(file_to_load_r)

In [30]:
# Deleting columns on World Happiness Report 
world_happiness_report_t.drop(['Log GDP per capita', 'Social support', 'Healthy life expectancy at birth', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Positive affect', 'Negative affect'], axis = 1, inplace = True)

In [31]:
# Merge reports 
world_happiness_report_t = pd.merge(left = world_happiness_report_t, right = world_happiness_report_sub, how = 'left', left_on= 'Country name', right_on = 'Country')

In [32]:
# Filling Nan
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Angola', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Belize', 'Area'] = 'Latin America'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Bhutan', 'Area'] = 'Asia-Pacific'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Congo (Kinshasa)', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Cuba', 'Area'] = 'Latin America'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Djibouti', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Oman', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Guyana', 'Area'] = 'Latin America'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Qatar', 'Area'] = 'Asia-Pacific'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Somalia', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'South Sudan', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Sudan', 'Area'] = 'Europe, Middle East and Africa'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Suriname', 'Area'] = 'Latin America'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Syria', 'Area'] = 'Asia-Pacific'
world_happiness_report_t.loc[world_happiness_report_t['Country name'] == 'Trinidad and Tobago', 'Area'] = 'Latin America'

In [33]:
world_happiness_report_t.head()

,Country name,year,Life Ladder,Country,Region,Ladder Score,region,sub-region,intermediate-region,Area
0,Afghanistan,2008,3.724,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,Asia-Pacific
1,Afghanistan,2009,4.402,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,Asia-Pacific
2,Afghanistan,2010,4.758,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,Asia-Pacific
3,Afghanistan,2011,3.832,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,Asia-Pacific
4,Afghanistan,2012,3.783,Afghanistan,South Asia,2.523,Asia,Southern Asia,NaN,Asia-Pacific

In [35]:
world_happiness_report_t.drop(['Country','sub-region','Region', 'Ladder Score', 'region', 'intermediate-region'], axis = 1, inplace = True)

In [45]:
world_happiness_report_t.rename(columns={'Country name':'Country'}, inplace=True)
world_happiness_report_t.rename(columns={'year':'Year'}, inplace=True)
world_happiness_report_yearly_groupby = world_happiness_report_t.groupby(['Area','Year']).mean('Life Ladder')
world_happiness_report_yearly_groupby

                               Life Ladder
Area                     Year
Asia-Pacific             2005     6.360667
                         2006     5.085250
                         2007     5.312560
                         2008     5.186300
                         2009     5.083963
...                                    ...
United States and Canada 2016     7.024500
                         2017     7.203500
                         2018     7.029000
                         2019     7.026500
                         2020     7.026500

[64 rows x 1 columns]

In [47]:
# # Output
# world_happiness_report_yearly_groupby.to_csv('/Users/karlaflores/Desktop/List.csv', index=True, header=True)

In [52]:
merge_data

                               Area      Years     Revenue  Subscribers  Edit
0          United States and Canada  Q1 - 2018  1976157000     60909000     0
1   Europe,  Middle East and Africa  Q1 - 2018   886649000     29339000     0
2                     Latin America  Q1 - 2018   540182000     21260000     0
3                      Asia-Pacific  Q1 - 2018   199117000      7394000     0
4          United States and Canada  Q2 - 2018  2049546000     61870000     0
5   Europe,  Middle East and Africa  Q2 - 2018   975497000     31317000     0
6                     Latin America  Q2 - 2018   568071000     22795000     0
7                      Asia-Pacific  Q2 - 2018   221252000      8372000     0
8          United States and Canada  Q3 - 2018  2094850000     63010000     0
9   Europe,  Middle East and Africa  Q3 - 2018  1004749000     33836000     0
10                    Latin America  Q3 - 2018   562307000     24115000     0
11                     Asia-Pacific  Q3 - 2018   248691000      9461000     0
12         United States and Canada  Q4 - 2018  2160979000     64757000     0
13  Europe,  Middle East and Africa  Q4 - 2018  1096812000     37818000     0
14                    Latin America  Q4 - 2018   567137000     26077000     0
15                     Asia-Pacific  Q4 - 2018   276756000     10607000     0
16         United States and Canada  Q1 - 2019  2256851000     66633000     0
17  Europe,  Middle East and Africa  Q1 - 2019  1233379000     42542000     0
18                    Latin America  Q1 - 2019   630472000     27547000     0
19                     Asia-Pacific  Q1 - 2019   319602000     12141000     0
20         United States and Canada  Q2 - 2019  2501199000     66501000     0
21  Europe,  Middle East and Africa  Q2 - 2019  1319087000     44229000     0
22                    Latin America  Q2 - 2019   677136000     27890000     0
23                     Asia-Pacific  Q2 - 2019   349494000     12942000     0
24         United States and Canada  Q3 - 2019  2621250000     67114000     0
25  Europe,  Middle East and Africa  Q3 - 2019  1428040000     47355000     0
26                    Latin America  Q3 - 2019   741434000     29380000     0
27                     Asia-Pacific  Q3 - 2019   382304000     14485000     0
28         United States and Canada  Q4 - 2019  2671908000     67662000     0
29  Europe,  Middle East and Africa  Q4 - 2019  1562561000     51778000     0
30                    Latin America  Q4 - 2019   746392000     31417000     0
31                     Asia-Pacific  Q4 - 2019   418121000     16233000     0
32         United States and Canada  Q1 - 2020  2702776000     69969000     0
33  Europe,  Middle East and Africa  Q1 - 2020  1723474000     58734000     0
34                    Latin America  Q1 - 2020   793453000     34318000     0
35                     Asia-Pacific  Q1 - 2020   483660000     19835000     0
36         United States and Canada  Q2 - 2020  2839670000     72904000     0
37  Europe,  Middle East and Africa  Q2 - 2020  1892537000     61483000     0
38                    Latin America  Q2 - 2020   785368000     36068000     0
39                     Asia-Pacific  Q2 - 2020   569140000     22492000     0

In [54]:
# Split
netflix_rev_region_year = merge_data
netflix_rev_region_year[['Quarter','Year']] = df.Years.str.split(" ", expand=True)
netflix_rev_region

AttributeError: 'DataFrame' object has no attribute 'Years'